/node_modules
/public/hot
/storage/*.key
/storage/app
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/storage/images/equipment/sdaf1667254970transferir.png
/public/storage/images/equipment/
