.add_record_btn{
    font-size: 25px;
    padding-right: 10px;
    margin: 0!important;
}
.table-btn{
    padding:5px;
}

.rubber {
    box-shadow: 0 0 0 3px red, 0 0 0 2px red inset;
    border: 2px solid transparent;
    border-radius: 4px;
    display: inline-block;
    padding: 5px 2px;
    line-height: 22px;
    color: red;
    font-size: 24px;
    font-family: 'Black Ops One', cursive;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.6;
    width: 155px;
    position: absolute;
    top: 6%;
    left: 15%;
    transform: rotate(-5deg);
    z-index: 9999;
}

.rubber_equip_view {
    top: 7%;
    left: 40%;
}

.rubber_equip_edit {
    top: -5%;
    left: 40%;
}

.rubber_no_history {
    box-shadow: 0 0 0 3px #6c757d, 0 0 0 2px #6c757d inset;
    border: 2px solid transparent;
    border-radius: 4px;
    display: inline-block;
    padding: 5px 2px;
    line-height: 22px;
    color: #6c757d;
    font-size: 24px;
    font-family: 'Black Ops One', cursive;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.6;
    width: 155px;
    position: absolute;
    top: 6%;
    left: 33%;
    transform: rotate(-5deg);
    z-index: 9999;
}
.kc_fab_main_btn {
    background-color: #F44336;
    position: absolute;
    bottom: 1%;
    right: 4%;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #F44336;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 36px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    transition: .3s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 9999;
}

.notification_btn{
    animation-name: notification_move;
    animation-duration: 1.5s;
    animation-iteration-count: 4;
}


@keyframes notification_move {
    /*0%   {bottom: 50%;}*/
    /*100% {bottom: 1%;}*/
    0% { transform: rotate(0deg); }
    25% { transform: rotate(20deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-20deg); }
    100% { transform: rotate(0deg); }
}

